/* pages/noticeList/noticeList.wxss */
.container {
  .list-wrap {
    .list-item {
      justify-content: space-between;
      margin-bottom: 15rpx;
      .left {
        image {
          border-radius: 10rpx;
          width: 180rpx;
          height: 90rpx;
          margin-right: 15rpx;
        }
        .text {
          .name {
            margin-bottom: 15rpx;
          }
        }
      }
    }
  }
}
